In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('/home/hernan/Downloads/python/1_Numpy_and_Pandas/project_data/project_transactions.csv')
df.head()

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
0,1364,26984896261,1,842930,1,2.19,31742,0.00,1,0.0,0.0
1,1364,26984896261,1,897044,1,2.99,31742,-0.40,1,0.0,0.0
2,1364,26984896261,1,920955,1,3.09,31742,0.00,1,0.0,0.0
3,1364,26984896261,1,937406,1,2.50,31742,-0.99,1,0.0,0.0
4,1364,26984896261,1,981760,1,0.60,31742,-0.79,1,0.0,0.0

In [7]:
import pandas as pd
import os

# Variation 1: Split by number of rows
def split_csv_by_rows(input_file, rows_per_file, output_prefix='split_file'):
    # Read CSV with explicit quote character
    df = pd.read_csv(
        input_file,
        # quotechar='"',       # Check if there are cases in which it's necessary to change the quote character
        # on_bad_lines='skip'  # Skip bad lines (CAUTION: use just in specific cases with problematic files; i needed it with car_prices.csv)
        )
    
    # Calculate total number of rows
    total_rows = len(df)

    # Convert rows_per_file to int if it's a float (as if i pass it like 2e5... that returns a float)
    rows_per_file = int(rows_per_file)
    
    # Calculate number of output files needed
    num_files = (total_rows // rows_per_file) + (1 if total_rows % rows_per_file else 0)
    
    # Create output directory if it doesn't exist
    os.makedirs('output', exist_ok=True)
    
    # Split and save files
    for i in range(num_files):
        start_idx = i * rows_per_file
        end_idx = min((i + 1) * rows_per_file, total_rows)
        
        # Create chunk
        chunk = df.iloc[start_idx:end_idx]
        
        # Generate output filename
        output_file = f'output/{output_prefix}_part_{i+1}.csv'
        
        # Save to CSV
        chunk.to_csv(
            output_file, 
            index=False,          # Don't write row index
            # compression='gzip',   # Compress output files
            # encoding='utf-8',     # Specify encoding
            # chunksize=10000       # Process in chunks for very large files
            )
        
        print(f'Created {output_file} with {len(chunk)} rows')

In [6]:
# Example usage
if __name__ == "__main__":
    # Specify your input CSV file
    input_csv = '/home/hernan/Downloads/python/1_Numpy_and_Pandas/project_data/project_transactions.csv'
    
    # Example 1: Split into files with 1000 rows each
    split_csv_by_rows(input_csv, rows_per_file=2e5, output_prefix='project_transactions')

Created output/project_transactions_part_1.csv with 200000 rows
Created output/project_transactions_part_2.csv with 200000 rows
Created output/project_transactions_part_3.csv with 200000 rows
Created output/project_transactions_part_4.csv with 200000 rows
Created output/project_transactions_part_5.csv with 200000 rows
Created output/project_transactions_part_6.csv with 200000 rows
Created output/project_transactions_part_7.csv with 200000 rows
Created output/project_transactions_part_8.csv with 200000 rows
Created output/project_transactions_part_9.csv with 200000 rows
Created output/project_transactions_part_10.csv with 200000 rows
Created output/project_transactions_part_11.csv with 146311 rows

In [8]:
# Example usage
if __name__ == "__main__":
    # Specify your input CSV file
    input_csv = '/home/hernan/Downloads/python/1_Numpy_and_Pandas/retail/retail_2016_2017.csv'
    
    # Example 1: Split into files with 1000 rows each
    split_csv_by_rows(
        input_file=input_csv, 
        rows_per_file=2e5, 
        output_prefix='retail_2016_2017'
        )

Created output/retail_2016_2017_part_1.csv with 200000 rows
Created output/retail_2016_2017_part_2.csv with 200000 rows
Created output/retail_2016_2017_part_3.csv with 200000 rows
Created output/retail_2016_2017_part_4.csv with 200000 rows
Created output/retail_2016_2017_part_5.csv with 200000 rows
Created output/retail_2016_2017_part_6.csv with 54944 rows